<?xml version="1.0"?>
<model>
  <name>Kitex with tether</name>
  <version>1.0</version>
  <sdf version="1.5">kitex_with_tether.sdf</sdf>

  <author>
   <name>Xander Gerrmann</name>
   <email>xander@kitepower.nl</email>
  </author>

  <description>
    This is a model of the Kitex plane.
  </description>
</model>
